<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @message.event_id %>
</p>

<p>
  <b>User:</b>
  <%= @message.user_id %>
</p>

<p>
  <b>Context:</b>
  <%= @message.context %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
