<div class="group-header">
  <h1>Listing groups</h1>
  <%= link_to 'New Group', new_group_path %>
</div>

<div class="group-group">
  <% @groups.each do |group| %>
    <div class="group-div">
      <h2><%= group.name %></h2> <%= link_to 'Show', group %> |
      <%= link_to 'Edit', edit_group_path(group) %> |
      <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
      <div>
        <% group.users.each do |user| %>
          <div class="event-goer">
            <%= image_tag(user.image, size: "100x100") %>
            <%= link_to user.name, user_path(user) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


