
<div class="index-div" id="user-index">
    <h1>Listing users</h1>
    <%= link_to 'New User', new_user_path %>
        <table id="table-format">
        <% @users.each do |user| %>
        <tr>
            <td>
              <a href="<%= user.facebook %>" target="_blank"><img src="http://uxrepo.com/static/icon-sets/brandico/svg/facebook-rect.svg" alt="" height="50" width="50"></a>
            </td>
            <td>
              <a href="<%= user.github %>" target="_blank"><img src="http://www.jessesinfield.com/wp-content/themes/portfolioSite/images/github.png" alt="" height="82" width="82"></a>
            </td>
            <td>
              <a href="<%= user.twitter %>" target="_blank"><img src="http://uxrepo.com/static/icon-sets/font-awesome/svg/twitter-squared.svg" alt="" height="130" width="130"></a>
            </td>
        
          
            <!-- <td><%#= user.group_id %></td> -->
            <td><%= image_tag(user.image, width: 150, :class => "style_image", alt: "/../../../assets/images/anonymous.jpg") %></td>
            <td><h3><%= link_to user.name, user_path(user) %></h3></td>
            <td>
                <table>
          <tr>
            <td>
              <a href="<%= user.linkedin %>" target="_blank"><img src="http://uxrepo.com/static/icon-sets/mfg-labs/svg/linkedin.svg" alt="" height="120" width="120"></a>
            </td>
            <td>
              <a href="<%= user.personal_website %>" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/windows-8-metro-style/512/globe.png" alt="" height="80" width="80"></a>
            </td>
            <td>
              <a href="<%= user.email %>" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/aiga-symbol-signs/612/aiga_mail_bg-512.png" alt="" height="54" width="54  "></a>
            </td>
          </tr>
        </table>
            </td>
            <td>
                <% if can? :edit, user %>
                    <%= link_to 'Edit', edit_user_path(user) %>
                <% end %>
            </td>
            <td>
                <% if can? :delete, user %>
                    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            </td>
          </tr>
        <% end %>
        </table>
        <br />
        <div id="paginate-center"><%= paginate @users %></div>
</div>
<br />
<br />
<br />