<div id="user-page-main-container">
  <div id="left1">
    <div id="main-profile-pic">
      <%= image_tag(@user.image) %>
    </div>
      <div class="move-left">
        <h1><%= @user.name %></h1>
          <div id="move-table-left">
          <table>
            <tr>
              <td>
                <a href="<%= @user.facebook %>" target="_blank"><img src="http://uxrepo.com/static/icon-sets/brandico/svg/facebook-rect.svg" alt="" height="50" width="50"></a>
              </td>
              <td>
                <a href="<%= @user.github %>" target="_blank"><img src="http://www.jessesinfield.com/wp-content/themes/portfolioSite/images/github.png" alt="" height="54" width="54"></a>
              </td>
              <td>
                <a href="<%= @user.twitter %>" target="_blank"><img src="http://uxrepo.com/static/icon-sets/font-awesome/svg/twitter-squared.svg" alt="" height="58" width="58"></a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="<%= @user.linkedin %>" target="_blank"><img src="http://uxrepo.com/static/icon-sets/mfg-labs/svg/linkedin.svg" alt="" height="54" width="54  "></a>
              </td>
              <td>
                <a href="<%= @user.personal_website %>" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/windows-8-metro-style/512/globe.png" alt="" height="54" width="54"></a>
              </td>
              <td>
                <a href="<%= @user.email %>" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/aiga-symbol-signs/612/aiga_mail_bg-512.png" alt="" height="54" width="54  "></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <div id="middle1">
    Introduction to the event
  </div>
  <div id="right1">
    <div style="height: 500px">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>Slide {{$index}}</h4>
            <p>{{slide.text}}</p>
          </div>
        </slide>
      </carousel>
    </div>
    <div class="row">
<!--       <div class="col-md-6">
        <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
      </div> -->
    </div>
  </div>
</div>

<div id="user-upcoming-events">

  <div class="weather-api">
    Temperature in London: {{ weatherData }} degrees celsius
  </div>
  <div id="upcoming-eventsx2">
    Sample of upcoming events.
  </div>
  <!-- Feedzilla Widget BEGIN -->
  <div id="rss" class="feedzilla-news-widget feedzilla-730947072384879" style="width:250px; padding: 0; text-align: center; font-size: 11px; border: 0;">
  <script type="text/javascript">
  new FEEDZILLA.Widget({
    style: 'slide-top-to-bottom',
    culture_code: 'uk',
    c: '63',
    sc: '3418',
    title: 'Internet',
    caption: 'Top Stories',
    order: 'relevance',
    count: '20',
    w: '250',
    h: '300',
    timestamp: 'true',
    scrollbar: 'false',
    theme: 'ui-darkness',
    className: 'feedzilla-730947072384879'
  });
  </script>
  </div>
  <!-- Feedzilla Widget END -->

</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>