<div id="user-page-main-container">
  <div id="left1">
    <div id="main-profile-pic">
      <%= image_tag(@user.image) %>
    </div>
    <h1><%= @user.name %></h1>
    <table>
      <tr>
        <td>
          <a href="<%= @user.facebook %>"><img src="http://uxrepo.com/static/icon-sets/brandico/svg/facebook-rect.svg" alt="" height="50" width="50"></a>
        </td>
        <td>
          <a href="<%= @user.github %>"><img src="http://www.jessesinfield.com/wp-content/themes/portfolioSite/images/github.png" alt="" height="54" width="54"></a>
        </td>
        <td>
          <a href="<%= @user.twitter %>"><img src="http://uxrepo.com/static/icon-sets/font-awesome/svg/twitter-squared.svg" alt="" height="58" width="58"></a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="<%= @user.linkedin %>"><img src="http://uxrepo.com/static/icon-sets/mfg-labs/svg/linkedin.svg" alt="" height="54" width="54  "></a>
        </td>
        <td>
          <a href="<%= @user.personal_website %>"><img src="https://cdn1.iconfinder.com/data/icons/windows-8-metro-style/512/globe.png" alt="" height="54" width="54"></a>
        </td>
        <td>
          <a href="<%= @user.email %>"><img src="https://cdn4.iconfinder.com/data/icons/aiga-symbol-signs/612/aiga_mail_bg-512.png" alt="" height="54" width="54  "></a>
        </td>
      </tr>
    </table>
  </div>
  <div id="middle1">
    Introduction to the event
  </div>
  <div id="right1">
    Past Events Pictures Carousell here.
  </div>
</div>

<div id="user-upcoming-events">
  <div class="weather-api">
    Weather API goes here.
  </div>
  <div id="upcoming-eventsx2">
    Sample of upcoming events.
  </div>
</div>





<p><strong>Need to put in the if statement here to allow users to show if they want their contact details displayed. For example, if current user group is the same, display the information.</strong></p>

  <p>
    <b>Group:</b>
    <%= @user.group_id %>
  </p>

  <p>
    <b>Dob:</b>
    <%= @user.dob %>
  </p>

  <p>
    <b>Mobile:</b>
    <%= @user.mobile %>
  </p>

  <p>
    <b>Role:</b>
    <%= @user.role %>
  </p>

  <p>
    <b>Address line 1:</b>
    <%= @user.address_line_1 %>
  </p>

  <p>
    <b>Address line 2:</b>
    <%= @user.address_line_2 %>
  </p>

  <p>
    <b>City:</b>
    <%= @user.city %>
  </p>

  <p>
    <b>Postcode:</b>
    <%= @user.postcode %>
  </p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>