<div id="user-page-main-container">
  <div id="left1">
    <div id="main-profile-pic">
      <% if @user.image && @user.image != "" %>
        <%= image_tag(@user.image, width: 220) %>
      <% else %>
        <img src="/images/anonymous.jpg" width="220"/>
      <% end %>
    </div>
      <div class="move-left">
        <h1><%= @user.name %></h1>
          <div id="move-table-left">
          <table>
            <tr>
              <td>
                <a href="<%= @user.facebook %>" target="_blank">
                  <img src="http://uxrepo.com/static/icon-sets/brandico/svg/facebook-rect.svg" alt="" height="50" width="50">
                </a>
              </td>
              <td>
                <a href="<%= @user.github %>" target="_blank"><img src="http://www.jessesinfield.com/wp-content/themes/portfolioSite/images/github.png" alt="" height="54" width="54"></a>
              </td>
              <td>
                <a href="<%= @user.twitter %>" target="_blank"><img src="http://uxrepo.com/static/icon-sets/font-awesome/svg/twitter-squared.svg" alt="" height="58" width="58"></a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="<%= @user.linkedin %>" target="_blank"><img src="http://uxrepo.com/static/icon-sets/mfg-labs/svg/linkedin.svg" alt="" height="54" width="54  "></a>
              </td>
              <td>
                <a href="<%= @user.personal_website %>" target="_blank"><img src="https://cdn1.iconfinder.com/data/icons/windows-8-metro-style/512/globe.png" alt="" height="54" width="54"></a>
              </td>
              <td>
                <a href="<%= @user.email %>" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/aiga-symbol-signs/612/aiga_mail_bg-512.png" alt="" height="54" width="54  "></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <div id="middle1">
    Good times, ah the memories!
  </div>
  <div id="right1">
    <div style="height: 500px">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>Slide {{$index}}</h4>
            <p>{{slide.text}}</p>
          </div>
        </slide>
      </carousel>
    </div>
    <div class="row">
<!--       <div class="col-md-6">
        <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
      </div> -->
    </div>
  </div>
</div>
<div id="user-upcoming-events">
  <div class="weather-api">
    Temperature in London: {{ weatherData }} degrees celsius
    <br>
    <br>
  </div>
  <div id="upcoming-eventsx2">
    <div class="upcoming-event">
      <h3><%= link_to @upcoming_event_sample_1.name, @upcoming_event_sample_1 %></h3>
      <p><%= @upcoming_event_sample_1.description %></p>
      <p><%= @upcoming_event_sample_1.event_time.to_s(:short) %></p>
      <% if @upcoming_event_sample_1.users.include? current_user %>
        <p>Going</p>
      <% else %> 
        <%= button_to 'Attend', attend_event_path(@upcoming_event_sample_1), method: :post %>
      <% end %>
      </p>
    </div>
    <div id="splitter">
    </div>
    <div class="upcoming-event">
      <h3><%= link_to @upcoming_event_sample_2.name, @upcoming_event_sample_2 %></h3>
      <p><%= @upcoming_event_sample_2.description %></p>
      <p><%= @upcoming_event_sample_2.event_time.to_s(:short) %></p>
      <% if @upcoming_event_sample_2.users.include? current_user %>
        <p>Going</p>
      <% else %> 
        <%= button_to 'Attend', attend_event_path(@upcoming_event_sample_2), method: :post %>
      <% end %>
    </div>
  </div>
  <!-- Feedzilla Widget BEGIN -->
  <br>
  <div id="rss" class="feedzilla-news-widget feedzilla-730947072384879" style="width:250px; padding: 0; text-align: center; font-size: 11px; border: 0;">
  <script type="text/javascript">
  new FEEDZILLA.Widget({
    style: 'slide-top-to-bottom',
    culture_code: 'uk',
    c: '63',
    sc: '3418',
    title: 'Internet',
    caption: 'Top Stories',
    order: 'relevance',
    count: '20',
    w: '250',
    h: '300',
    timestamp: 'true',
    scrollbar: 'false',
    theme: 'ui-darkness',
    className: 'feedzilla-730947072384879'
  });
  </script>
  </div>
  <!-- Feedzilla Widget END -->

</div>
<br>
<br>
<br>