<div class="events-map-container">
    <map style="display:block;height:300px">
        <marker ng-repeat="event in events" position="[{{ event.latitude }}, {{ event.longitude }}]" title="{{ event.name }}" animation="Animation.BOUNCE" class="ng-scope">
        </marker>
    </map>
</div>
<div class="index-div">
    <h1>Listing events</h1>
    <%= link_to 'New Event', new_event_path %>
  
        <% @events.each do |event| %>
          <div class="event-individual">
            <div class="event-carousel">
                Image or carousel of images.
            </div>
            <div>
                <h3><%= link_to event.name, event %></h3>
                <%#= event.event_date %><br />
                <%#= event.event_time %><br />
                <%= event.venue %><br />
                <!-- consider putting in scope in here -->
                
                <%= event.attending %>
                <br>
                <% if can? :edit, @event %>
                 <%= link_to 'Edit', edit_event_path(event) %>
                <% end %>
                <% if can? :delete, @event %>
                   |<%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
                <%= button_to 'Attend', attend_event_path(event), method: :post %>
            </div>
          </div>
        <% end %>
</div>
<br>
<br>
<br>