<div class="events-map-container">
    <map style="display:block;height:300px" />
</div>
<div class="index-div">
    <h1>Listing events</h1>
    <%= link_to 'New Event', new_event_path %>
  
        <% @events.each do |event| %>
          <div class="event-individual">
            <div class="event-carousel">
                Image or carousel of images.
            </div>
            <div class="event-summary">
                <h3><%= event.name %></h3>
                <%= event.event_date %><br />
                <%= event.event_time %><br />
                <%= event.venue %><br />
                <!-- consider putting in scope in here -->
                Consider putting in returning
                <%= event.attending %>
                <br>
                <%= link_to 'Show', event %>|<%= link_to 'Edit', edit_event_path(event) %>|<%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        <% end %>

</div>
<br>
<br>
<br>