<div class="index-div">
  <div class="events-map-container">
    <div id="event-map-left">
        <h3><%= @event.name %></h3>
      <p>
        <%= @event.description %>
      </p>

      <p>
        <%= @event.event_time.to_s(:short) %>
      </p>
      <br>

<!--       <p>
        <b>Scope:</b>
        <%#= @event.scope %>
      </p>

      <p>
        <b>Attendence required:</b>
        <%#= @event.attendence_required %>
      </p>

      <p>
        <b>Attending:</b>
        <%#= @event.attending %>
      </p> -->

      <p>
        <b><%= @event.venue %></b>
      </p>
      <p>
        <%= @event.address_line_1 %>
      </p>
      <% if @event.address_line_2 %>
        <p>
          <%= @event.address_line_2 %>
        </p>
      <% end %>
      <p>
        <%= @event.city %>
        <%= @event.postcode %>
      </p>
      <p>
        Ph: <%= @event.phone %>
      </p>
      <br>
      <% if @event.users.include? current_user %>
        <p>Going <%= button_to 'Not Going', not_going_event_path(@event), method: :delete %></p>
      <% else %> 
        <%= button_to 'Attend', attend_event_path(@event), method: :post %>
      <% end %>
      <% if can? :edit, @event %>
        <%= link_to 'Edit', edit_event_path(@event) %> |
      <% end %>
      <%= link_to 'Back', events_path %>
    </div>
    <div id="event-map-right">
      <map style="display:block;height:300px" center="[{{ selectedEvent.latitude }}, {{ selectedEvent.longitude }}]"><marker position="[{{ selectedEvent.latitude }}, {{ selectedEvent.longitude }}]" title="{{ selectedEvent.name }}" animation="Animation.BOUNCE" class="ng-scope"></marker></map>
    </div>
  </div>

  <div id="event-update-div">
    <div>
      <div id="events-weather-api">
        <br />
        Temperature in London:
        <br />
        <br />
         {{ weatherData }} degrees celsius
      </div>
      <div id="event-text-messaging-area">
        <h2>Send a text message !</h2>
        <%= form_tag("/messages", method: "post") do %>
          <%= hidden_field :event_id, :value => @event.id %>
          <%#= hidden_field :user_id, :value =>@user.id %>
          <%= label_tag(:content, "Message:") %>
          <%= text_field_tag(:content )%>
          <%= submit_tag("Send Message") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="index-div">
    <div id="event-goers">
      <% @event.users.each do |user|%>
        <div class="event-goer">
        <%= image_tag(user.image, size: "100x100") %>
        <%= link_to user.name, user_path(user) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="empty-div">
    <br>
  </div>
  <div>
      <%= form_for ([@event, @comment]) do |f| %>
    <p>
      <%= f.label :comment %>
      <%= f.text_area :comment, :size=>"100*1" %>
    </p>
    <%= f.submit %>
  <% end %>
  </div>
  <div>
    <% @event.comments.each do |comment| %>
      <div>
        <%= image_tag(comment.user.image, size: "50x50") %>
        <b><%= comment.user.name %></b>
        <%= comment.comment %>
      </div>
    <% end %>
  </div>
</div>
<br />
<br />
<br />