<%= form_for(@chat) do |f| %>
<div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :chat_message %><br />
    <%= f.text_field :chat_message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> 
<% end %>