<!DOCTYPE html>
<html ng-app="lumneeApp">
<head>
  <title>Lumnee App</title>
  <script type="text/javascript" src="http://widgets.feedzilla.com/news/iframe/js/widget.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>
</head>
<body>
  <div class="dotted">
    <header>Lumni</header>
  </div>
  <div id="login-logoff-and-dropdown">
    <div id="user-status">
<!--     <p class="notice alert" id="notice"><%#= notice %><%# alert %></p> -->
      <% if user_signed_in? %>
        <%= current_user.email %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", user_session_path %> 
      <% end %>

        <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '750752621663189',
            xfbml      : true,
            version    : 'v2.1'
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      </script>
      <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div>
      <!-- Continue with facebook login https://developers.facebook.com/quickstarts/750752621663189/?platform=web -->
    </div>

    <!-- Drop down menu 1 (two does not work with the code for now so I may need to wrap it in a separate function. Change to current user Id-->
    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        Menu<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <% if user_signed_in? %>
          <li><a href="/users/<%= current_user.id %>">My Page</a></li>
        <% end %>
        <li><a href="/events">Events</a></li>
        <li><a href="/groups">Groups</a></li>
        <li><a href="/users">Users</a></li>
        <% if user_signed_in? %>
          <li class="divider"></li>
          <li><a href="/chats">Chat</a></li>
          <li class="divider"></li>
          <li><a href="/users/<%= current_user.id %>/edit">Edit My Profile</a></li>
        <% end %>
      </ul>
    </div>

  </div>
  <!-- There as a flash message in the notes but it's probably not crucial -->
  <div ng-controller="lumneeController">

    <%= yield %>
    
  </div>
</body>
</html>
