<!DOCTYPE html>
<html>
<head>
  <title>AlumniApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <!-- Google links may need to be added here -->
 <% if user_signed_in? %>
    <%= current_user.email %>
    <br>
    <%= link_to "Edit profile", edit_user_registration_path %>
    <br>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    <br>
    <%= link_to "Login", user_session_path %>
    <br>
    <!-- The below link should be redirected to google -->
    <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>    
  <% end %>

  <!-- There as a flash message in the notes but it's probably not crucial -->

  <%= yield %>

</body>
</html>
